.reviewCard {
  margin-bottom: 32px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-semiblack-color);
  margin-bottom: 2px;
}

.aboutAutorReview {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 16px;
}

.firstLeterName {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  width: 44px;
  height: 44px;
  border-radius: 100px;
  color: var(--main-spinner-color);
  background-color: var(--main-grey-color);
}

.ratingContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.starIcon {
  fill: var(--main-star-color);
}

.rating {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
}

.textReview {
  font-weight: 500;
}
