.burgerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: 18px;
}

.burgerIcon {
  fill: var(--main-black-color);
  transition: fill var(--animation);
}

.burgerIcon:hover {
  fill: var(--main-button-hover-color);
}
