.inputGroup {
  position: relative;
}

.label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.inputField {
  width: 100%;
  padding: 16px 18px;
  border: 1px solid var(--main-light-grey-color);
  border-radius: 12px;
  outline: transparent;
  outline-offset: 4px;
  line-height: 1.38;
}

.inputField::placeholder {
  line-height: 1.38;
  color: var(--main-black-color);
}

.errorMessage {
  font-size: 12px;
  position: absolute;
  top: 56px;
  left: 12px;
  color: #b03f3e;
}
