.btnContainer {
  width: 255px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loginBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: none;
  border-radius: 12px;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.25;
  width: 73px;
  height: 48px;
  transition: color var(--animation);
}

.loginBtn:hover {
  color: var(--main-button-color);
}

.loginIcon {
  stroke: var(--main-button-color);
}

.registerBtn {
  display: block;
  background-color: var(--main-black-color);
  color: var(--main-white-color);
  border: none;
  border-radius: 12px;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.25;
  width: 166px;
  height: 48px;
  transition: background-color var(--animation);
}

.registerBtn:hover {
  background-color: var(--main-black-button-hover-color);
}
