.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TutorFeaturesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 30px 16px;
}

.borderSvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.borderRect {
  fill: none;
  stroke: var(--main-button-color);
  stroke-width: 3px;
  stroke-dasharray: 15, 15;
  stroke-linecap: round;
  box-sizing: border-box;
}

.featurItem {
  display: flex;
  gap: 16px;
  align-items: center;
}

.featurValue {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.featurName {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: var(--main-dark-grey-color);
  max-width: 74px;
}

@media screen and (min-width: 507px) {
  .TutorFeaturesContainer {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 475px;
  }
}

@media screen and (min-width: 1024px) {
  .TutorFeaturesContainer {
    max-width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    height: 116px;
  }

  .TutorFeaturesContainer {
    gap: 100px;
  }
}
