@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/roboto-regular-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/roboto-medium-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/roboto-bold-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/roboto-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

:root {
  --main-white-color: #ffffff;
  --main-black-color: #121417;
  --main-semiblack-color: #8a8a89;
  --main-button-color: #f0aa8d;
  --main-button-hover-color: #f4c8ba;
  --main-spinner-color: #e17650;
  --main-black-button-hover-color: #373c42;
  --main-grey-color: #f8f8f8;
  --main-dark-grey-color: rgba(18, 20, 23, 0.7);
  --main-light-grey-color: rgba(18, 20, 23, 0.1);

  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  background-color: var(--main-white-color);
  color: var(--main-black-color);

  --animation: 200ms cubic-bezier(0.4, 0, 0.2, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0, auto;
  min-width: 320px;
  min-height: 100vh;
  align-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
