.userMenuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.logoutBtn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.25;
  transition: color var(--animation);
  margin-top: 50px;
}

.logoutBtn:hover {
  color: var(--main-button-color);
}

@media screen and (min-width: 768px) {
  .userMenuContainer {
    width: 255px;
    flex-direction: row;
    gap: 16px;
  }

  .logoutBtn {
    gap: 8px;
    border-radius: 12px;
    width: 83px;
    height: 48px;
    margin-top: 0;
  }

  .logoutIcon {
    stroke: var(--main-button-color);
  }
}
